.root {
    position: relative;
    /* background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)); */
    border-radius: 0.5rem;
    padding: 3px;
    width: 100%;
    display: block;
    /* Or block, depending on layout */
    border: 1px solid var(--mantine-color-gray-4);
}

.controlsGroup {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 equal columns */
    width: 100%;
    /* Must be higher than indicator */
}

.control {
    padding: .5rem;
    border-radius: 0.5rem;
    font-size: var(--text-sm) !important;
    font-weight: 400;
    transition: color 150ms ease;
    text-align: center;
    width: 100%;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
    color: var(--mantine-color-dark-8);
}

.control[data-active] {
    color: var(--mantine-color-white);
    /* Text color when active */
}

/* Light mode override if you want dark text on light active background */
/* 
:where([data-mantine-color-scheme='light']) .control[data-active] {
  color: var(--mantine-color-black); 
}
*/

.indicator {
    position: absolute;
    z-index: 1;
    background-color: rgb(5, 5, 73);
    /* Or any theme color like cyan.6 */
    border-radius: 0.25rem;
    box-shadow: var(--mantine-shadow-xs);
}

.urgency-filters-container {
    transition: display 0.8s ease, opacity 0.8s ease;
    border-radius: 0.5rem;
    border: 1px solid var(--mantine-color-gray-4);
    padding: 0.5rem;
}

.urgency-filters-title {
    font-family: var(--font-family-jetbrains);
}

@media (max-width: 425px) {
    .control {
        padding: .25rem;
    }
}