/* .habits-control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */


.single-habit {
    display: flex;
    align-items: flex-start;
    margin: .5rem 0;
    background: white;
    border-radius: .875rem;
    min-height: 55px;
    box-shadow: var(--mantine-shadow-xs);
    padding: 0 .875rem;
    padding-top: 1rem;
    overflow: hidden;
    transition: border-color 0.15s, opacity 0.15s;
}

.single-habit-checkbox {
    align-self: stretch;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* your habit color */
    border-radius: 8px 0 0 8px;
    flex-shrink: 0;
    /* NO height: fixed value here */
}

.single-habit-details {
    flex: 1;
    padding: 12px 14px;
    padding-top: 2px;
    min-width: 0;
}

.single-habit-name {
    font-size: var(--text-sm);
    line-height: 1;
    font-weight: 500;
    word-break: break-word;
}

.single-habit-description {
    font-size: var(--text-xs);
    line-height: 1.2;
    color: var(--mantine-color-dimmed);
    margin-top: .125rem;
    word-break: break-word;
}

.single-habit:hover {
    border-color: var(--mantine-color-gray-5);
}

.single-habit-accent {
    width: 4px;
    flex-shrink: 0;
}

.single-habit-left {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
}

.single-habit-streak {
    font-size: 11px;
    color: var(--mantine-color-dimmed);
}

.single-habit-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.habit-form-item {
    padding: 0 .5rem;
}

.habit-form-item.row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.habit-form-item .input-label-description {
    gap: .25rem;
    /* line-height: 1.2; */
}

.habit-form-item .input-label-description .mantine-InputWrapper-description {
    line-height: 1.1 !important;
    width: 100% !important;
}

.completed-habits-toggler {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0.875rem;
    font-family: var(--font-family-sora);
    text-transform: uppercase;
    font-size: var(--text-xs);
    font-weight: 600;
    letter-spacing: 0.08em;
    user-select: none;
    transition: background 0.25s;
    color: var(--mantine-color-dark-3);
    box-shadow: var(--mantine-shadow-xs);
    z-index: 10;
}

.completed-habits-container {
    border-radius: .875rem;
    background: white;
    box-shadow: var(--mantine-shadow-xs);
    overflow: hidden;
    margin-top: 1.5rem;
}

.completed-habits {
    padding-top: 0;
    margin-top: 1px;
}

.completed-habits .single-habit {
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--mantine-color-gray-3);
    min-height: auto;
}