.choose-mood-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: fit-content;
}

.choose-mood-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 100px;
    padding: 0.5rem;
    gap: 0.3rem;
    font-size: 0.8rem;
    line-height: 1;
    grid-auto-flow: column dense;
}

.choose-mood-item img {
    width: 2rem;
    height: 2rem;
}