.household-tasklist-page {
    display: flex;
    flex-direction: column;
}

.household-tasklist-page-progress {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.household-tasklist-page-title {
    font-size: 24px;
    font-weight: 600;
}

.household-tasklist-page-task {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 0.8rem;
    width: 100%;
}



.household-tasklist-page-task input.editable-title {
    font-size: 1rem;
    font-weight: normal;
}

.completed-task {
    text-decoration: line-through;
    padding: 0.8rem;
}

.editable-title {
    font-family: "IBM Plex Sans", sans-serif;
    width: 100%;
    padding: 0.8rem;
    padding-left: 0.4rem;
}

input.editable-title {
    outline: none;
}

.household-tasklist-page-list {
    margin-top: 1rem;
    max-height: calc(100vh - 51px - (16px + 16px + 48px + 62px));
    overflow-x: hidden;
}

.household-tasklist-page-completed .household-tasklist-page-task {
    border-bottom: 1px solid lightgray;
}

.household-tasklist-page-completed-title {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 500;
    padding: 0.8rem;
    border-bottom: 1px solid lightgray;
    cursor: pointer
}

.drag-handle svg {
    font-size: 1rem;
    color: #696565;
    padding-bottom: 1px;
}

.task-row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-left: 0.8rem;
}

.add-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid lightgray;
    padding: 0.4rem;
    padding-left: 0.8rem;
    border-radius: 0.4rem;
    background: white;
    box-shadow: var(--mantine-shadow-sm);
    position: sticky;
    bottom: 0;

}

.add-task input {
    width: calc(100% - 50px);
    outline: none;
    font-family: "IBM Plex Sans", sans-serif;
}

.tasklist-panel {
    flex: 1;
    min-height: 0;
    /* critical for child scrolling */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}