.reminders-container {
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;
    overflow: hidden;
}

.reminder-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin-bottom: 0.5rem;
    padding-bottom: -0.5rem;
    flex-shrink: 0;
    min-height: 125px;
    box-shadow: var(--mantine-shadow-xs);
}

.reminder-title {
    font-size: var(--text-base);
    font-weight: 700;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    line-height: 1.3;
    padding-top: 0.25rem;
}

.reminder-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    font-size: var(--text-sm);

}

.reminder-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-sm);
    /* border-top: 1px solid var(--mantine-color-gray-3); */
    padding-top: 0.5rem;
}

.reminder-created-by {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.reminder-space {
    min-width: 28px;
}

.reminder-header {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.reminder-body {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.3;
    margin-top: 0.25rem;
}

.notice-board-reminder {
    display: flex;
    gap: 0.5rem;
    line-height: 1.3;
    border-radius: .5rem;
    box-shadow: var(--mantine-shadow-xs);
    padding: 0.75rem 1rem;
    background: white;
    /* color: var(--mantine-color-dark-6); */
}

.notice-board-reminder:not(:last-child) {
    margin-bottom: 0.5rem;
}

.notice-board-reminder-title {
    /* letter-spacing: 0.05em; */
    font-size: 13px;
    color: black;
    font-weight: 600;
    font-family: var(--font-family-sora);
    margin-bottom: 0.15rem;

}

.notice-board-reminder-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: var(--mantine-color-gray-7);
    font-size: 13px;
    width: auto;
}

.notice-board-reminder-details-people {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-family: "Commissioner", sans-serif;
    font-size: 14px;
    color: var(--mantine-color-gray-7);
}

.notice-board-reminder-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
}

.notice-board-reminder-body {
    font-size: var(--text-sm);
    font-family: var(--font-family-sora);
    font-weight: 400;
    color: var(--mantine-color-dark-7);
    word-break: break-word;
    padding-bottom: .25rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    /* line-height: 1.5; */
}


.notice-board-reminder-assigned {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.timestamp-long-dash {
    color: var(--mantine-color-gray-4);
}

.reminder-ago {
    align-self: baseline;
    font-size: var(--text-xs);
    color: var(--mantine-color-dark-4);
    font-style: italic;
    font-size: 11px;
}

.notice-board-footer {
    padding: 0.25rem 0.5rem;
    padding-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.notice-board-footer button {
    font-size: 13px;
}

.notice-board-footer button:first-of-type {
    /* font-family: "Commissioner", sans-serif; */
    font-weight: 500;
}

.notice-board-reminders {
    overflow-y: auto;
    max-height: 250px;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #fafafa;
    padding: 0.5rem;
    background: #f7f8fc;
}

.reminder-system {
    font-family: var(--font-family-jetbrains);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;

}

.two-column-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.two-column-input {
    width: 50%;
}

.create-reminder-chars {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: var(--text-xs);
    color: var(--mantine-color-dark-6);
}

.notice-board-reminder-footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}

.reminder-relationship-arrow svg {
    font-size: .875rem;
    color: var(--mantine-color-gray-7);
}

.reminder-separator-dot {
    color: var(--mantine-color-gray-6);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 0 0.25rem;
}

.reminder-badge {
    flex-shrink: 0;
}

@media (max-width: 500px) {
    .two-column-inputs {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
    }

    .two-column-input {
        width: 100%;
    }
}