.shopping-lists-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    gap: 1rem;
}

.shopping-list-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.5rem;
    background: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.shopping-list-card-header {
    padding: 1rem;
    font-size: var(--text-lg);
    padding-bottom: 0;
}

.shopping-list-card-header--top:not(.header-right) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    gap: 0.5rem;
    font-weight: 500;
}

.shopping-list-card-header--top.header-right {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.25rem;
    color: var(--mantine-color-gray-5);
}

.progress-value {
    font-size: var(--text-sm);
    color: var(--mantine-color-gray-8);
}

.shopping-list-card-header .mantine-Progress-root {
    background: var(--mantine-color-gray-1);
}

.shopping-list-card-body {
    padding: 1rem;
    padding-bottom: .5rem;
    border-top: 1px solid var(--mantine-color-gray-2);
    border-bottom: 1px solid var(--mantine-color-gray-2);
    flex-grow: 1;
}

.shopping-list-card-footer {
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
}

.shopping-list-card-data {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.shopping-list-card-data--item {
    display: flex;
    align-items: center;
    font-size: var(--text-sm);
    gap: .25rem;
    color: var(--mantine-color-gray-6);
}

.shopping-list-card-data .mantine-Tooltip-tooltip {
    font-size: var(--text-xs) !important;
}

.shopping-list-card-header--progress {
    margin-bottom: .5rem;
}

.shopping-list-header {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    padding-bottom: 0;
    flex-wrap: wrap;
    box-shadow: var(--mantine-shadow-xs);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: white;
}

.shopping-list-header {
    justify-content: center;
    gap: .5rem;
    padding: 0.8rem 1rem !important;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background: white;
    z-index: 99;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex: 0 0 auto;
}

.shopping-list-header {
    justify-content: space-between;
}

.shopping-list-header--left {
    display: flex;
    gap: .5rem;
}

.shopping-list-title-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    min-height: 60px;
}

.shopping-list-title-bar--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-family: "Alan Sans", sans-serif;
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: 1;
}

.shopping-list-title-bar--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: .5rem;
}

.shopping-list-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: var(--text-2xl) !important;
    font-family: "Alan Sans", sans-serif !important;
    font-weight: 500 !important;
}

.shopping-list-title.smaller-header {
    font-size: var(--text-xl) !important;
}

.shopping-list-empty-state {
    font-size: var(--text-sm);
    color: var(--mantine-color-gray-7);
}

.shopping-list-container {
    padding: 0 1rem;
    padding-bottom: 80px;
    background: var(--input-grey);
    padding-top: 1rem;
    flex: 1;
    overflow: hidden;
}

.shopping-list {
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;
    background: white;
    box-shadow: var(--mantine-shadow-xs);
    position: relative;
}

.shopping-list-item {
    width: 100%;
    padding: .3rem .75rem;
    padding-left: .25rem;
    display: flex;
    flex-direction: column;
}

.shopping-list>.shopping-list-item {
    border-bottom: 1px solid var(--border);
}

.shopping-list>.shopping-list-item:last-child,
.shopping-list>.shopping-list-item.completed {
    border-bottom: none;
}

.shopping-list>.shopping-list-item.completed {
    padding: 0;
}

.shopping-list-item--left {
    display: flex;
    padding: .5rem .75rem;
    width: 100%;
    word-wrap: break-word;
    color: var(--main-background);
    font-size: var(--text-sm);
    cursor: pointer;
    flex-direction: column;
}

.invisible-wall {
    display: block;
    width: 1.25rem;
}

.shopping-list-item--left-top {
    display: flex;
    gap: 0.5rem;
}

.shopping-categories-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-list-container {
    flex: 1;
    min-height: 0;
}

.shopping-categories-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-list-container {
    flex: 1;
    min-height: 0;
}

.shopping-categories-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-list-container {
    flex: 1;
    min-height: 0;
}

.add-category-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    /* border-top: 1px solid var(--border); */
}

.add-category-input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: .5rem;
    padding: .25rem;
    border: 1px solid var(--border);
    border-radius: .5rem;
}

.shopping-category-list {
    font-size: var(--text-sm);
    border: 1px solid var(--border);
    border-radius: .5rem;
}

.shopping-category-item {
    padding: .75rem .5rem .75rem 1rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.shopping-category-item-name {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.shopping-category-item:last-child {
    border-bottom: none;
}

.shopping-list-category-input-note-container {
    display: flex;
    justify-content: space-between;
    font-size: var(--text-xs);
}

.shopping-list-category-input-note--limit {
    font-size: var(--text-xs);
    color: var(--mantine-color-gray-6);
    font-style: italic;
    margin-left: .25rem;
}

.shopping-list-category-input-note--error {
    color: var(--mantine-color-red-7);
    font-style: italic;
}

.shopping-category-list--empty {
    font-size: var(--text-sm);
    line-height: 1.2;
    color: var(--mantine-color-gray-7);
    text-align: center;
    /* font-style: italic; */
}

.shopping-list-category-limit-note {
    font-size: 13px;
    width: 100%;
    /* text-align: right; */
    margin-bottom: .25rem;
    margin-left: .5rem;
    margin-top: -.5rem;
}

.add-shopping-item-container {
    padding-bottom: 1rem;
}

.add-shopping-item {
    padding: 0;
}

.add-shopping-item.shell-footer {
    background: white;
    border: none;
    box-shadow: none;
    font-size: var(--text-sm);
    display: flex;
    flex-direction: column;
}

.add-shopping-item-input {
    display: flex;
    padding: 0.4rem;
    padding-left: 0.8rem;
}

.add-item-details-container {
    display: flex;
    gap: .5rem;
    border-top: 1px solid var(--border);
    padding: .5rem;
}

.shopping-list-add-item-detail {
    font-size: 13px;
    border: 1px solid var(--border) !important;
    border-radius: .25rem;
    background: white;
    color: var(--mantine-color-gray-7);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.shopping-list-add-item-detail:hover {
    background: var(--mantine-color-gray-0) !important;
}

.add-item-detail-icon {
    color: var(--mantine-color-gray-7);
    font-size: .9rem;
    margin-right: .25rem;
}

.shopping-list-add-item-detail--popover {
    font-size: var(--text-sm);
}


@media (max-width: 425px) {
    .shopping-lists-grid {
        gap: .5rem;
    }

    .shopping-list-container {
        padding: 0;
        padding-bottom: 80px;
        padding-top: 0.5rem;
    }
}

@media (width >=40rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (width >=64rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (width >=80rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media(width >=84rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}