.shopping-lists-page {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.shopping-lists-page h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.shopping-lists-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.shopping-list {
    cursor: pointer;
    background: var(--main-background) !important;
    color: white !important;
    border: 1px solid var(--main-border) !important;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.list-header-select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.household-tasklist-page-title {
    display: flex;
    align-items: center;
}

.shopping-list-header {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
}

.shopping-item-expanded-container {
    width: 100%;
    background: var(--bg);
}

.shopping-item-expanded {
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
}

.shopping-item-expanded-top {
    display: flex;
    gap: 1rem;
}

.completed-panel .household-tasklist-page-task {
    text-decoration: line-through;
}



.shopping-item-expanded-input-section label {
    font-family: 'Alan Sans', sans-serif !important;
    font-size: 0.9rem;
}

.shopping-item-expanded-input-section input {
    font-family: 'Nunito Sans', sans-serif !important;
}

.task-left,
.task-right {
    display: flex;
    align-items: center;
}

.task-left {
    gap: 1rem;
    line-height: 0;
}

.task-right button {
    width: min-content;
    padding: 0;
}

.task-right button:first-child svg {
    font-size: 2rem;
}

.household-tasklist-page-task {
    align-items: center;
    justify-content: space-between;
}


.household-tasklist-page-title button {
    overflow: unset;
    padding: 0.1rem 0.5rem;
    margin-right: .3rem;
    color: white;
}

.household-tasklist-page-title button:last-of-type:hover svg {
    fill: var(--accent-color-light);
}

.household-tasklist-page-title button:last-of-type svg {
    fill: white;
    height: 1.5rem;

}

@media (width >=40rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (width >=64rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (width >=80rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (width >=84rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}