.shopping-lists-page {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.shopping-lists-page h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.shopping-lists-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.shopping-list {
    cursor: pointer;
    background: var(--main-background) !important;
    color: white !important;
    border: 1px solid var(--main-border) !important;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.list-header-select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.household-tasklist-page-title {
    display: flex;
    align-items: center;
}

.shopping-list-header {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
}

.shopping-item-expanded {
    width: 100%;
    background: var(--bg);
    padding: 0.5rem 3rem;
}

.completed-panel .household-tasklist-page-task {
    text-decoration: line-through;
}

.shopping-item-expanded-input-section label {
    font-family: 'Alan Sans', sans-serif !important;
    font-size: 0.9rem;
}

.shopping-item-expanded-input-section input {
    font-family: 'Nunito Sans', sans-serif !important;
}

@media (width >=40rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (width >=64rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (width >=80rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (width >=84rem) {
    .shopping-lists-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}