.event-error {
    color: var(--mantine-color-error);
    font-size: 0.8rem;
}

.mantine-InputWrapper-error {
    border-color: var(--mantine-color-error) !important;
}

.mc-has-events {
    position: relative;
}

.mc-no-events {
    position: relative;
}

/* The dot itself */
.mc-has-events::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    /* adjust for your theme */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(5, 5, 73);
    pointer-events: none;
}

.mantine-MiniCalendar-day:hover {
    background: #f1f1ff !important;
}


.quick-add-event-events {
    color: white;
}

.delete-event-btn {
    margin-right: 20px;
    cursor: pointer;
}

.delete-event-btn svg {
    font-size: 1rem;
}

.delete-event-btn:hover {
    color: var(--accent-color);
}

.m_99d16a4 {
    padding-top: .5rem !important;
    gap: .25rem !important;
}

.event-row {
    border-left: 2px solid transparent;
    padding: .25rem .5rem;
}

.event-row:last-child {
    margin-bottom: 0;
}

.event-row.editing {
    border-left: 2px solid rgb(5, 5, 73);
    padding-left: 8px;
    /* compensate for the border */
    background-color: var(--mantine-color-gray-0);
    border-radius: .25rem;
    /* subtle bg change */
}

.todays-events-container {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2), inset -1px -1px 3px rgba(255, 255, 255, 0.6);
    border-radius: .5rem;
    overflow: hidden;
}

.todays-events {
    max-height: 150px;
    overflow-y: auto;
    padding: .5rem;
}

.todays-events:has(.no-events) {
    padding: .25rem .5rem;
}

.event-menu-container {
    margin-right: .5rem;
}

@media (max-width: 425px) {
    .m_99d16a4 {
        min-width: 2.5rem !important;
        padding: .75rem 0 !important;
        padding-top: .25rem !important;
        gap: .25rem !important;
    }

    .mantine-MiniCalendar-dayMonth {
        font-size: 11px !important;
    }

    .mantine-MiniCalendar-dayNumber {
        font-size: 12px !important;
    }

    .mc-has-events::after {
        bottom: 3px;
    }

    .events-header-title {
        font-size: var(--text-sm) !important;
    }

    .mantine-MiniCalendar-control {
        width: 1.5rem !important;
    }
}

@media (max-width: 375px) {
    .m_99d16a4 {
        min-width: 2em !important;
        padding: .75rem 0 !important;
        padding-top: .25rem !important;
    }
}