.upcoming-event {
    display: flex;
}

.upcoming-event-date {
    border-right: 1px solid var(--input-border);
    height: 100%;
    padding: 0.5rem;
    padding-right: 1rem;
    font-family: "Alan Sans", sans-serif;
    text-align: center;
}

.upcoming-event-date p {
    line-height: 1.2;
    color: var(--mantine-color-dark-7);
}

.upcoming-events {
    overflow-y: auto;
    max-height: 250px;
    padding: 0.5rem;
    padding-top: .25rem;
}

.upcoming-events p:first-of-type {
    color: var(--mantine-color-dark-7);
}

.upcoming-events-header {
    margin-bottom: 0.1rem;
}

.upcoming-events-header p:first-of-type {
    font-family: "Alan Sans", sans-serif;
}

.upcoming-events-header a {
    display: flex;
    align-items: center;
    font-family: "Alan Sans", sans-serif;
    font-size: var(--text-sm);
}

.upcoming-events-header a svg {
    font-size: 1.1rem !important;
}

.upcoming-event-btns {
    display: none;
    align-items: center;
    gap: 4px;
}

.upcoming-event:hover .upcoming-event-btns {
    display: flex;
}

.upcoming-event-btn:hover {
    color: var(--accent-color-light);
}

.event-skeleton-date {
    border-right: 1px solid var(--mantine-color-gray-4);
    padding: 0.5rem;
    padding-right: 1rem;
}