.tasklist-settings-btn {
    flex-shrink: 0;
}

.tasklist-settings-btn svg {
    font-size: var(--text-2xl);
}

.tasklist-settings-btn:hover svg {
    color: var(--tasklist-color);
}

.mobile-tasklist-title-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    min-height: 60px;
}

.mobile-tasklist-title-bar-top {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-family: "Alan Sans", sans-serif;
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: 1;
}

.mobile-tasklists-content {
    padding: 1rem;
    position: relative;
    height: 100%;
    background: var(--input-grey);
}

.mobile-add-tasklist-btn {
    padding: 0 !important;
    color: white !important;
    font-size: 3rem !important;
}

.mobile-add-tasklist-btn:hover {
    background-color: var(--accent-color) !important;
}

.mobile-add-tasklist-btn svg {
    color: white !important;
    fill: white !important;
    font-size: 5rem !important;
}

.mobile-tasklist-card {
    padding: 1rem;
    margin: 0;
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: 0.5rem;
}

.tasklist-head-progress {
    margin-bottom: 0.5rem;
}

.task-row {
    justify-content: space-between;
}

.task-row-right {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.5rem;
}

.task-row-move-btns {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-row-right button {
    padding: 0;
    height: auto;
}

.task-row-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.task {
    width: 100%;
    padding: 0.3rem 0.75rem;
    padding-left: 0.25rem;
}

.task.task-no-padding {
    padding: 0;
    padding-right: 0.75rem;
}

.task:hover {
    background: var(--indigo-50);
}

.not-allowed {
    cursor: not-allowed;
}

.cursored {
    cursor: pointer;
}

.task-row-right button:disabled {
    background: transparent;
    color: rgb(91, 113, 117);
}

.mobile-tasklist-content {
    padding: 0 1rem;
    padding-bottom: 80px;
    background: var(--input-grey);
    padding-top: 1rem;
    flex: 1;
}

.mobile-tasklist-content .homepage-collapse-card {
    margin: 0;
    margin-top: .75rem;
    border-radius: .5rem;
}

.star-path {
    transition: stroke-width 0.2s ease;
    /* Default state: no stroke */
    stroke: currentColor;
    stroke-width: 0;
    paint-order: stroke;
}

.star-icon-outline:hover .star-path {
    /* Hover state: add stroke to thicken */
    /* stroke-width: .5px; */
    color: var(--tasklist-color)
}

.header-right .star-icon-outline {
    color: var(--mantine-color-gray-6)
}

.header-right .star-icon-outline:hover .star-path {
    color: rgb(230, 176, 2)
}

.star-icon-container {
    color: var(--tasklist-color);
    align-self: flex-start;
    margin-top: 0.4rem;
}

/* .star-icon,
.star-icon-outline {
    font-size: 1rem;
    width: 24px;
    height: 1.25em;
} */

.tasklists-list-empty-state {
    /* font-style: italic; */
    font-size: var(--text-sm);
    color: var(--mantine-color-gray-7);
}



.household-tasklist-page-task:not(.completed-task) {
    /* padding-right: 0; */
    padding-left: 0.25rem;
}

.household-tasklist-page-completed .household-tasklist-page-task {
    padding-left: 0.75rem;
}

.extra-padding {
    padding-bottom: 1rem !important;
}

.filter-drawer-submit-btns {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
    margin-top: 1rem;
    /* padding: 1rem; */
}

.skeleton-progress-left {
    flex-shrink: 0;
}

.skeleton-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: .5rem;
    margin-bottom: .75rem;
}

.skeleton-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skeleton-header-top-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.skeleton-tasklist {
    display: flex;
    flex-direction: column;
    gap: .825rem;
}

.skeleton-task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media(max-width: 425px) {
    .mobile-tasklist-content {
        padding: 0;
        padding-bottom: 80px;
        padding-top: 0.5rem;

    }

    .household-tasklist-page-list,
    .household-tasklist-page-completed {
        border-radius: 0 !important;
        border: 0;
    }

    .household-tasklist-page-completed {
        margin-top: 0.5rem;
    }

    .add-task-container {
        padding: 0.5rem;
    }

    .add-task {
        border-radius: 0.25rem;
    }

    .mantine-Alert-root {
        padding: 0.5rem !important;
        border-radius: 0 !important;
    }

    .mobile-tasklist-card-body {
        padding-bottom: 1rem;
    }

    .task {
        padding-left: 0;
    }

    .mobile-tasklists-content {
        padding: 0.5rem;
    }

    .filter-drawer-submit-btns {
        margin-top: .25rem;
    }
}

@media(max-width: 768px) {
    .household-tasklist-page-task:not(.completed-task) {
        padding-left: 0.75rem;
    }
}