.household-checkins-mini-container h2 {
    font-size: 1.75rem;
    font-family: "Alan Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.household-checkins-mini {
    border-radius: 0.75rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background: white;
}

.checkins-header-row {
    display: flex;
    align-items: center;
}

.checkins-header-spacer {
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
    width: 2.3rem;
}

.checkins-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkins-header-day {
    font-size: var(--text-sm);
    font-family: "Alan Sans", sans-serif;
    width: 26px;
    text-align: center;
    user-select: none;
}

.checkins-member-row {
    /* gap: 1px; */
}

.checkins-member-row {
    margin-bottom: .25rem;
}

.checkins-legend {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-family: "Alan Sans", sans-serif;
    color: white;
    margin-left: .5rem;
    margin-top: .5rem;
}

.checkins-legend-item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.checkins-legend-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 0.25rem;
}

.icon-checked {
    background: var(--mantine-color-green-5);
}

.icon-none {
    background: rgba(229, 231, 235, 1);
}

.household-checkins-mini-container {
    padding: .75rem;
}

.member-row-skeleton {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.member-row-skeleton-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.member-row-skeleton-checkins {
    display: flex;
    align-items: center;
    gap: 8px;
}

.member-row-skeleton-square {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 0.5rem;
}

@media (min-width: 376px) {
    .checkins-header-day {
        width: 32px;
        font-size: var(--text-base);
    }

    .checkins-header-spacer {
        width: 3rem;
    }

    .member-row-skeleton-avatar {
        width: 34px;
        height: 34px;
    }

    .member-row-skeleton-square {
        width: 32px;
        height: 32px;
        border-radius: 0.5rem;
    }
}

@media (min-width: 426px) {
    .checkins-header-day {
        width: 38px;
        font-size: var(--text-lg);
    }

    .checkins-header-spacer {
        width: 3.3rem;
    }
}