.dashboard {
    padding: 3rem;
    width: 100%;
}

.dashboard h1 {
    font-size: 2.25rem;
    line-height: 1;
}

.dashboard-titlebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Alan Sans", sans-serif;
    font-weight: 600;
}