.dashboard {
    padding: 3rem;
    width: 100%;
}

.dashboard h1 {
    font-size: 2.25rem;
    line-height: 1;
}

.dashboard-titlebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Alan Sans", sans-serif;
    font-weight: 600;
}

.dashboard-grid.dashboard-events {
    width: min-content;
    border-radius: 0.5rem;
    border: 1px solid var(--input-border);
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    /* background: var(--main-background) */
}

.invite-member-modal p {
    line-height: 1.3;
}