@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap');

:root {
    --sidebar-w: 240px;
    --sidebar-w-collapsed: 64px;

    --bg: #0f172a;
    /* page bg */
    --surface: #1f2937;
    /* sidebar bg */
    --text: #e5e7eb;
    /* text */
    --hover: #374151;
    /* hover */
    --ring: #a78bfa;
    /* focus ring */
    --sidebar-w: 200px;
    --sidebar-w-collapsed: 100px;

    /* smoother & nicer easing */
    --t: 260ms cubic-bezier(.22, .61, .36, 1);

}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font: 14px/1.4 system-ui;
    background: #fbf9fa !important;
}

#root {
    display: flex;
}

main {
    max-width: 80rem;
    margin: 0 auto;
    background: #fbf9fa !important;
    font-family: "IBM Plex Sans", sans-serif;

}

html.preload .sidebar {
    transition: none !important;
}

/* If user prefers collapsed, render collapsed BEFORE React hydrates */
html.prefers-collapsed .sidebar {
    width: var(--sidebar-w-collapsed);
}

html.prefers-collapsed .sidebar .title {
    opacity: 0;
    max-width: 0;
    margin: 0;
}

html.prefers-collapsed .sidebar .nav-link {
    grid-template-columns: 28px;
    justify-content: center;
    padding: 10px;
}

html.prefers-collapsed .sidebar .nav-link .label {
    opacity: 0;
    max-width: 0;
    margin: 0;
}

.app {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    /* let .sidebar's width drive the column */
}

.sidebar {
    background: var(--surface);
}

.content {
    padding: 24px;
}

button svg {
    font-size: 1.25rem !important;
}

.brand svg {
    fill: white;
}

.invite-link-container {
    padding: 2rem;
}

.generate-new-link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    color: #7950f2;
}

.generate-new-link-btn:hover {
    text-decoration: underline;
}

.generate-new-link-btn svg {
    width: 1.1rem;
    color: #7950f2;
}

.dashboard-titlebar-right {
    display: flex;
    gap: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.tasklist-head,
.household-tasklist-page-title {
    font-family: "Alan Sans", sans-serif;
    /* text-transform: uppercase; */
    /* font-size: 2rem; */
}