.mobile-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    /* background: hsl(232deg 85% 18%) 0%; */
    color: white;
    /* border-bottom: 1px solid lightgrey; */
}

.mobile-header-container .brand {
    height: auto;
    margin: 0;
    gap: 0.5rem;
    font-size: 1rem;
}

.mobile-header-container .title {
    font-size: var(--text-2xl);
}

.mobile-header-left,
.mobile-header-right {
    display: flex;
    align-items: center;
}

.mobile-header-left {
    gap: 0.5rem;
}

.mobile-header-right svg {
    font-size: var(--text-2xl);
}

.mobile-header-right svg {
    /* color: hsl(240, 50%, 50%); */
}

.mobile-header-separator {
    height: 1.75rem;
    width: 1px;
    background: lightgrey;
    margin: 0 1rem;
}

.mobile-header-user {
    border: 1px solid lightgrey;
    border-radius: 999px;
    height: 2rem;
    width: 2rem;
    background: hsl(189, 73%, 14%);
}

.mobile-header-icon-btns {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.mobile-home-family-title {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    font-family: "Alan Sans", sans-serif;
    font-size: var(--text-2xl);
    font-weight: 500;
    margin: 0 1rem;
    line-height: 1;
    height: 55px;
    flex-wrap: wrap;
}

/*  */

.tasklists-title-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgb(5, 5, 73);
}

.add-announcement:hover {
    opacity: 0.8 !important;
    background-color: white !important;
}

.tasklists-title-right button:hover {
    opacity: 0.8;
    background-color: white;
    /* color: rgb(5, 5, 73); */
}

.title-announcements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 0.5rem;
}

.title-announcements-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: var(--text-2xl) !important;
    font-family: "Alan Sans", sans-serif !important;
    font-weight: 500 !important;
}

.title-announcements-title.smaller-header {
    font-size: var(--text-xl) !important;
}

.title-announcements button {
    padding: 0;
}

.mobile-home-calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    background: hsl(240, 67%, 12%);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    color: white;
}

.mobile-home-checkin-reminder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid lightgrey; */
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    /* width: fit-content; */
    background: white;
    color: black;
    font-weight: 500;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mobile-home-checkin-reminder button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    /* border: 1px solid black; */
    border-radius: 999px;
    padding: .5rem 2rem;
    background: hsl(189, 80%, 21%);
    color: white;
}

.mobile-home-nav-grid,
.mobile-announcements-header,
.mobile-tasklist-header {
    display: flex;
    z-index: 99;
    /* gap: 1.5rem; */
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    padding-bottom: 0;
    flex-wrap: wrap;
    box-shadow: var(--mantine-shadow-xs);
}

.mobile-announcements-header,
.mobile-tasklist-header {
    justify-content: center;
    gap: .5rem;
    padding: 0.8rem 1rem !important;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background: white;
    z-index: 99;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex: 0 0 auto;
}

.mobile-tasklist-header {
    justify-content: space-between;
}

.tasklist-header-left {
    display: flex;
    gap: 0.5rem;
}

/* .mobile-home-nav-grid-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Alan Sans", sans-serif;
    border-radius: 12px;
    background: white;
    color: black;
    height: 4rem;
    width: 4rem;
    font-size: 0.8rem;
}
*/

.mobile-home-nav-grid-btn svg {
    font-size: 1.25rem;
}


.mobile-home-nav-grid-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Alan Sans", sans-serif;
    /* padding-bottom: 0.25rem; */
    padding: 0 0.25rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    width: 15%;
}

.mobile-home-nav-grid-btn-icon-container {
    border-radius: 999px;
    border: 1px solid rgb(5, 5, 73);
    background: white;
    color: black;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    color: rgb(5, 5, 73);
}

.mobile-home-nav-grid-btn span {
    /* margin-top: 0.25rem; */
    color: rgb(5, 5, 73);
    font-size: 0.7rem;
    line-height: 1.5;
    /* color: white; */
}

.mobile-home-notice-board {
    width: 100%;
    border: 1px solid transparent;
    background: var(--mantine-color-indigo-0);
    cursor: pointer;
}

.mobile-home-container .mobile-home-notice-board {
    cursor: default;
}

.mobile-home-notice-board-header,
.mobile-announcements-header {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* width: 100%; */
    padding: 0.5rem;
    /* background: white; */
    color: black;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid lightgrey; */
    /* border: 1px solid lightgrey; */
    /* border-bottom: 1px solid lightgrey; */
}

.notice-board-btn {
    display: flex;
    align-items: baseline;
    line-height: 1.2;
    font-family: "Alan Sans", sans-serif;
}


.mobile-home-notice-board-container {
    /* background: white; */
    color: black;
    /* border-radius: 8px; */
    padding-top: 0;
}

.mobile-home-notice-board-footer {
    padding: 0.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-announcement-btn {
    /* border-radius: 999px !important; */
    font-family: "Alan Sans", sans-serif;
    /* padding: 0.25rem 1rem; */
    font-weight: 400 !important;
    /* font-size: 0.8rem !important; */
    font-size: 12px !important;
    /* height: 34px !important; */
}

.add-announcement-btn span {
    font-weight: 400;
}


.mobile-home-notice-board-content {
    /* padding: 1rem; */
    /* background: lightyellow; */
    /* margin-top: 0.5rem; */
    color: black;
    /* height: 300px;
    overflow-y: auto; */
    height: 130px;
}

.mobile-home-container-top {
    position: relative;
    background-image: linear-gradient(180deg,
            hsl(236deg 100% 5%) 21%,
            hsl(238deg 100% 10%) 61%,
            hsl(239deg 97% 14%) 77%,
            hsl(241deg 98% 18%) 88%,
            hsl(243deg 96% 22%) 95%,
            hsl(244deg 96% 26%) 100%);
    color: white;
    padding-bottom: 1rem;
    flex: 0 0 auto;
    /* margin-bottom: 1rem; */
}

.mobile-home-container-bottom {
    display: flex;
    /* ✨ Enable Flexbox here too */
    flex-direction: column;

    /* This makes it fill all remaining space in .mobile-home-container */
    flex: 1;
    margin-top: -1rem;
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
    overflow: visible;
    /* Ensure sticky works */
    /* background-color:  */

}

.mobile-home-daily-checkins,
.mobile-home-recent-activity {
    border-radius: 16px;
    padding: 1rem;
    margin: 1rem;
    background: hsl(189, 55%, 30%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mobile-home-daily-checkins h2,
.mobile-home-recent-activity h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
    font-family: "Alan Sans", sans-serif;
}


.mobile-home-nav-grid-btn.active {
    border-bottom-color: rgb(5, 5, 73);
    cursor: default;
}

.mobile-home-notice-board-header .list {
    position: relative;
    /* margin-bottom: 0.5rem; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.mobile-home-notice-board-header .indicator {
    background-color: rgb(5, 5, 73);
    border-radius: 999px;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
}

.mobile-home-notice-board-header .tab {
    font-family: "Alan Sans", sans-serif;
    /* font-weight: 500; */
    z-index: 1;
    transition: color 100ms ease;
    /* font-size: 1rem; */
    font-size: 0.875rem;
    /* width: 50%; */
    color: black;
    height: 30px;
    /* border-radius: 999px !important; */
}

.mobile-home-notice-board-header .tab[data-active] {
    color: white;
}

.announcements-sort {
    min-width: 120px;
}

.tasklists-sort {
    min-width: 130px;
}

.tasklists-sort button {
    line-height: 1;
}

.mobile-announcements-header .mantine-Input-input {
    font-family: "Alan Sans", sans-serif;
}

.mantine-Combobox-options {
    width: 100%;
    font-family: "Alan Sans", sans-serif;
}

.mobile-announcements-full {
    margin: 1rem;
    padding-bottom: 56px;
}

.mobile-announcements-filter-drawer .mantine-Drawer-content {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.mobile-announcements-filter-drawer {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.members-modal-member {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.members-modal-member div:first-of-type {
    background: white;
}


.due-task-stat-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1;
}

.due-task-stat-main {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.due-task-stat-title {
    /* font-family: "Alan Sans", sans-serif; */
    font-size: var(--text-sm);
    font-weight: 400;
}

.title-sm {
    font-size: var(--text-xs);
}

.due-task-stat-skeleton {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.indicator-skeleton {
    position: absolute;
    right: -8px;
    top: -8px;
}

.mobile-home-section-title {
    font-size: var(--text-sm) !important;
    font-weight: 500 !important;
    letter-spacing: 0;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

.mobile-home-section h2 {
    font-family: "Poppins", sans-serif;
}


.mobile-home-section-content {
    padding-top: 0.5rem;
}

.mobile-home-notice-board-section {
    padding-top: 0.5rem;
}

@media (max-width: 575px) {
    .tasklist-announcements {
        font-size: var(--text-base);
    }
}